.header-wrapper{
    background-color: #304F26;
}
span{
    display: flex;
    font-size: 0.3em;
    margin: 0;
}
p{
    font-size: 18px;
    margin: 0;
}
h2{
    margin: 0;
}
.cover{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 60px;
    height: 80vh;
    justify-content: center;
}
.Button{
    display: flex;
    text-align: center; 
}
.header-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-images img{
    width: 300px;
    height: auto;
}
.parent{
    position:relative;
}
.child{
    position: absolute
}
.header-images{
    position: relative;
    
}

.first{
    position: relative;
    right: 80px;
    top: 30px;
}
.second{
    position: absolute;
    left: -18px;
    top: -80px;
}

.cover{
    z-index: 5;
}
