.header{
    background-color: #304F26;
}
.main-nav{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none;
    font-size: 18px;
    margin: 0;
    height: 84px;
}



li{
    padding: 20px;
}
a{
    text-decoration: none;
    color: #f0e7e7;
    font-size: 20px;
}

.header{
    margin: 0;
    font-size: 60px;
}
span{
    display: flex;
    margin: 10px;
    justify-content: center;
    font-size: 25px;
}
p{
    margin: 10px;
    font-size: 18px;
}



.cover{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #f0e7e7;
    margin: 0;
}

.Button{
    display: flex;
    
}