.header-wrapper{
    background-color: #304F26;
    
}
.main-nav{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none;
    font-size: 1.2em;
    margin: 0;
    height: 84px;
    
}
.nav-item{
    position: relative;
}
.nav-item:first-child{
    position: absolute;
    right: 80%;
}

li{
    padding: 20px;
}
a{
    text-decoration: none;
    color: #f0e7e7;
    font-size: 1.2em;
}
a:hover{
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
    padding-bottom: 5px;
    cursor: pointer;
    
}
span{
    display: flex;
    font-size: 0.3em;
    margin: 0;
}
p{
    font-size: 18px;
    margin: 0;
}
h2{
    margin: 0;
}
.cover{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 60px;
    height: 80vh;
    justify-content: center;
}
.Button{
    display: flex;
    text-align: center; 
}
.header-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-images img{
    width: 300px;
    height: auto;
}
.parent{
    position:relative;
}
.child{
    position: absolute
}
.header-images{
    position: relative;
    
}

.first{
    position: relative;
    right: 80px;
    top: 30px;
}
.second{
    position: absolute;
    left: -18px;
    top: -80px;
}

.cover{
    z-index: 5;
}
