.record-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #304f26ee;
    
}

.record{
    padding: 10px;
    margin: 20px;
    color: #e5e7eb;
}
.record p{
    font-size: 1em;
}