img{
    width: 500px;
    height: auto;
}

.showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6e99f71;
}

.showcase-text{
    width: 450px;
    margin: 50px;
    text-align: end;
    
}

.showcase-text h2:first-of-type{
    color: #304F26;

}   