

.section{
    background-color: #c6e99f71;
    padding: 20px;
    text-align: center;
}

.section h1{
    color: #304F26;
}

.showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
   
}

.showcase-text{
    width: 700px;
    
    
    
}

.showcase-text h2:first-of-type{
    color: #304F26;

}   







