.features{
    display: flex;
    margin: 30px 50px;
}
.feature-header{
    margin:10px 40px;
    width: 35%;

}

.feature-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    gap: 10px;
    
}
.cards{
    border: solid 1px #e5e7eb;
    border-radius: 0.375rem;
    height: 12rem;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    padding: 10px;
}