.features{
    margin: 30px;
}


.feature-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cards{
    border: solid 1px #e5e7eb;
    margin: 10px;
    border-radius: 0.375rem;
    width: 13rem;
    height: 12rem;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    padding: 15px;
    background-color: #304F26;
    color: #e5e7eb;
}
.cards:nth-child(2){
    background-color: #54cf2a;
}
.feature-text{
    display: grid;
    grid-template-columns: repeat(800px,1fr);
    text-align: center;
    justify-content: center;
    margin: 80px;
    padding: 20px;
}

.feature-text p{
    max-width: 650px;
    text-align: center;
}
.feature-text h1{
    color: #304F26;
}